.parent
{
  margin-top:4%;
}
.child
{
  padding:3%;
}
.subchild
{
  box-shadow:"2px 8px 8px -8px #000";
}
.content
{
  background-color:beige;
}
div img:hover
{
  animation-name: Convert;
  animation-duration: 0.4s;
  animation-fill-mode: both;
 
}
@keyframes Convert
{
  from
  {
    border-radius: 0%;;
    color:none;
  }
  to
  {
  border-radius: 50%;
  color: #fff;;
  }
}
.button
{
  padding:2.5%;
  margin:2.5%;
}
.button :hover
{
  animation:Transpose;
  animation-duration:0.1s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes Transpose
{
  from
  {
    background-color:beige;
    color:#1191fc;
    border-radius:5px;
  }
  to
  {
    background-color:#1191fc;;
    color:beige;
    border-radius:5px;
  }
}

/*Profile.js*/
.left
{
  color:white;
}
